<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Jquerry e axios e js-cookies-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--CSS do bootstrap, eu gosto do tamanho da letra que eles deixam-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!--Fontes-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!--style-->
    <link rel="stylesheet" href="./loginstyle.css" type="text/css">
    <script>
        //Quando a janela estiver carregada, peça para o servidor o firstSession cookie
        //ou então, se tiver o cookie de seção, envie para o servidor para que ele possa
        //Enviar informações
        $(document).ready(()=>{
            Cookies.remove('firstSession', '')
            var firstSessionCookie = Cookies.get("firstSession")
            var sessionCookies = Cookies.get("userSession")

            setTimeout(function(){
                $('#modal_body').empty()
                $('#exampleModalLabel').empty()
                $('#exampleModalLabel').append('Sessão prestes a expirar');
                $('#modal_body').append('<p>Sua sessão ira expirar em 1 minuto e a pagina será recarregada</p>');
                $('#ShowModal').trigger('click')
            }, 29*60*1000)

            setTimeout(function(){
                location.reload(true)  
            }, 30*60*1000)


            if(sessionCookies){
                axios.post('/login', {
                    withCredentials: true
                }).then(function(result){
                    window.location.href = "/index"
                }
                );
            }else{
                if(firstSessionCookie){
                    axios.post('/firstsession', {
                        isFirstSession: false,
                    });
                }else{
                    axios.post('/firstsession', {
                        isFirstSession: true,
                    });
                }
            }
        })
    </script>
    <script>
        //Aqui a função chamada quando o form chama o onSubmit
        function Login(){
            //Pegar informaçoes do form
            var data = $('#login_form').serializeArray();

            var email = data[0].value
            var password = data[1].value

            //Envia post para o servidor com as credenciais
            axios.post('/login',{
                email: email,
                password: password,
                withCredentials: true
                //TODO: Caso o resultado seja um sucesso, redireciona para pagina de calendario
            }).then((result)=>{
                window.location.href = "/index"
            }).catch((error)=>{
                //Criação dos modais para respostas do servidor
                switch(error.response.data){
                    case "Invalid Email":
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Email invalido');
                        $('#modal_body').append('<p>Infelizmente esse formato de email não é aceito por nossos servidores</p>');
                        $('#ShowModal').trigger('click')
                        break;
                    case "Invalid Password":
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Password invalida');
                        $('#modal_body').append('<p>Há algo errado com a sua senha</p>');
                        $('#ShowModal').trigger('click')
                        break;
                    case "Unauthorized":
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Credenciais incorretas');
                        $('#modal_body').append('<p>Login ou senha incorretos</p>');
                        $('#ShowModal').trigger('click')
                        break;
                    case "Session Expired":
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Sessão expirou');
                        $('#modal_body').append('<p>Sua sessão expirou, a pagina irá ser recarregada</p>');
                        $('#ShowModal').trigger('click')
                        Cookies.remove('firstSession')
                        setTimeout(function(){
                            location.reload(true)  
                        }, 5000)
                        break;
                    default:
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Erro');
                        $('#modal_body').append('<p>Erro desconhecido</p>');
                        $('#ShowModal').trigger('click')
                        break;
                }
            })
        }

        function Cadastro(){

            var data = $('#cadastro_form').serializeArray();

            var email = data[0].value
            var password = data[1].value
            var confirm_password = data[2].value
            

            function validateEmail(email){
                var REGEX_EMAIL = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return REGEX_EMAIL.test(String(email).toLowerCase())
            }
            
            function validatePassword(password){
                var REGEX_SENHA = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,12}$/;
                return REGEX_SENHA.test(String(password).toLowerCase())
            }

            function validateConfirmPassword(password, confirm_password){
                return (password == confirm_password)
            }

            if(validateEmail(email)){
                if(validatePassword(password)){
                    if(validateConfirmPassword(password, confirm_password)){
                        axios.post('/cadastro',{
                            email: email,
                            password: password,
                            withCredentials: true
                            //TODO: Caso o resultado seja um sucesso, redireciona para pagina de calendario
                        }).then((result)=>{
                            window.location.href = "/index"
                        }).catch((error)=>{
                            //Criação dos modais para respostas do servidor
                            switch(error.response.data){
                                case "Invalid Email":
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Email invalido');
                                    $('#modal_body').append('<p>Infelizmente esse formato de email não é aceito por nossos servidores</p>');
                                    $('#ShowModal').trigger('click')
                                    break;
                                case "Invalid Password":
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Password invalida');
                                    $('#modal_body').append('<p>Há algo errado com a sua senha</p>');
                                    $('#ShowModal').trigger('click')
                                    break;
                                case "Unauthorized":
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Credenciais incorretas');
                                    $('#modal_body').append('<p>Login ou senha incorretos</p>');
                                    $('#ShowModal').trigger('click')
                                    break;
                                case "Session Expired":
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Sessão expirou');
                                    $('#modal_body').append('<p>Sua sessão expirou, a pagina irá ser recarregada</p>');
                                    $('#ShowModal').trigger('click')
                                    Cookies.remove('firstSession')
                                    setTimeout(function(){
                                        location.reload(true)  
                                    }, 10000)
                                    break;
                                case "ER_DUP_ENTRY":
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Ja cadastrado');
                                    $('#modal_body').append('<p>Este email ja esta em uso</p>');
                                    $('#ShowModal').trigger('click')
                                    break;
                                default:
                                    $('#modal_body').empty()
                                    $('#exampleModalLabel').empty()
                                    $('#exampleModalLabel').append('Erro');
                                    $('#modal_body').append('<p>Erro desconhecido</p>');
                                    $('#ShowModal').trigger('click')
                                    break;
                            }
                        })
                    }else{
                        $('#modal_body').empty()
                        $('#exampleModalLabel').empty()
                        $('#exampleModalLabel').append('Senhas diferentes');
                        $('#modal_body').append('<p>Senhas não coincidem</p>');
                        $('#ShowModal').trigger('click')
                    }
                }else{
                    $('#modal_body').empty()
                    $('#exampleModalLabel').empty()
                    $('#exampleModalLabel').append('Senhas invalida');
                    $('#modal_body').append('<p>As senhas precisam ter entre 8 e 12 caracteres, pelo menos um numero e pelo menos uma letra</p>');
                    $('#ShowModal').trigger('click')
                }
            }else{
                    $('#modal_body').empty()
                    $('#exampleModalLabel').empty()
                    $('#exampleModalLabel').append('Email invalido');
                    $('#modal_body').append('<p>Esse email não é aceito por nossos servidores, tem certeza que não esqueceu de algo?</p>');
                    $('#ShowModal').trigger('click')
            }
        }
        
    </script>
    <script>
        //Aqui a função visual usando o jquery para se mover
        function Slide(element) {
            /*
            * Jquery ids são #+id
            * aqui eu estou passando o id
            * então estou adicionando o #
            */
            element = "#" + element
            let otherElement;
            let move;

            //Isso serve para que eu consiga pegar a outra div
            //ex: element = login então otherElement = #cadastro
            if(element == '#login'){
                otherElement = '#cadastro'
                move = '+=450'
            }else{
                otherElement = '#login'
                move = '-=450'
            }

            //Aqui a animação que vemos no elemento
            $(element).animate({
                opacity: 0,
                left: move,
            },800,
            ()=>{
                //Faz o outro elemento ser visivel enquanto anima sua opacidade
                $(otherElement).css('visibility', 'visible');
                $(otherElement).animate({
                    opacity:1
                }, 800)
                //Esconde o elemento clicado e faz com que ele volte ao seu lugar
                $(element).css('visibility', 'hidden');

                $(element).css('left', '0');
                }
            );
        }
    </script>
    <title>Login</title>
</head>
<body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#popup" id="ShowModal" style="visibility:hidden; position: absolute;top: 0;left: 0;">
    Launch demo modal
  </button>
  
  <!-- Modal do bootstrap -->
  <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Email ou senha incorretos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal_body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
    <div id="loginbox">           
        <section id="login">
            <form id="login_form" class= "needs-validation"onsubmit="Login(); return false" method="POST">
                <h1>Login</h1>

                <div>
                    <label for="email">Email: </label><br />
                    <input type="email" id="email" name="email" required placeholder="Digite seu email" maxlength="100">
                </div>

                <div>
                    <label for="password">Senha: </label><br />
                    <input type="password"  id="password" name="pass" required placeholder='Digite sua senha' maxlength="12"/> 
                </div>

                <span onclick="alert('Função não implementada')">Esqueceu sua senha?</span>
                <input type="submit" value="Entrar">

                <!--Aqui eu estou pegando o parente desse span, que será o elemento que eu vou precisar mover-->
            
                <span onclick="Slide($(this).parent().parent().attr('id'))">ou cadastre-se!</span>
            </form>
        </section>

        <section id="cadastro">
            <form id="cadastro_form" onsubmit="Cadastro(); return false;" method="POST">
                <h1>Cadastro</h1>

                <div>
                    <label for="email_cadastro">Email: </label><br />
                    <input type="email" id="email_cadastro" name="email_cadastro" required placeholder="Digite seu email" maxlength="100"/> 
                </div>

                <div>
                    <label for="password_cadastro">Senha: </label><br />
                    <input type="password"  id="password_cadastro" name="password_cadastro" required placeholder='Digite sua senha' maxlength="12" /> 
                </div>

                <div>
                    <label for="password_confirmacao_cadastro">Confirmar senha: </label><br />
                    <input type="password"  id="password_confirmacao_cadastro" name="password_confirmacao_cadastro" required placeholder='Digite sua senha novamente'  maxlength="12"/> 
                </div>

                <input type="submit" value="Cadastrar">

                <span onclick="Slide($(this).parent().parent().attr('id'))">Ja tenho uma conta</span>

            </form>        
        </section>
    </div>
</body>
</html>